<div class="setup">
  <h1>
    Welcome to Groups!
  </h1>
  <div class="part">
    <label>Boys:<input type="number" [(ngModel)]="boysCount"></label>
    <textarea placeholder="Boys" [(ngModel)]="boys" style="height:200px; width:200px;" (change)="boysCount = boys.split('\n').length"></textarea>
    <label>Min. boys in group:<input type="number" [(ngModel)]="minBoys"></label>
  </div>
  <div class="part">
    <label>Girls:<input type="number" [(ngModel)]="girlsCount"></label>
    <textarea placeholder="Girls" [(ngModel)]="girls" style="height:200px; width:200px;" (change)="girlsCount = girls.split('\n').length"></textarea>
    <label>Min. girls in group:<input type="number" [(ngModel)]="minGirls"></label>
  </div>
  <div class="part">
    <label>Rounds:<input placeholder="Rounds" type="number" [(ngModel)]="roundsCount"></label>
    <textarea placeholder="Rounds" [(ngModel)]="rounds" style="height:200px; width:200px;" (change)="roundsCount = rounds.split('\n').length"></textarea>
  </div>
</div>
<div class="">
  <input placeholder="Iterations" type="number" [(ngModel)]="iterations" style="width:200px">
</div>
<div>
  <label><input type="checkbox" [(ngModel)]="assignHost" style="margin-right:3pt;">Assign host</label>
</div>
<button (click)="run()" i18n>Run</button>
<div>Group config: <input type="text" [(ngModel)]="distributions"><button (click)="calc()" i18n>Calc</button></div>
<div>{{ distributions }}</div>
<div>Groups: {{ config?.distributions.length }}</div>
<div *ngIf="builder?.rounds.length">
  <div>Rounds:</div>
  <div *ngFor="let round of builder.rounds; let idx = index;" class="round">
    <div class="cost">{{ round.cost | number : '1.0-2' }}</div>
    <div class="caption">{{ round.name }}</div>
    <div class="groups">
      <div *ngFor="let group of round.groups;" class="group">
        <div *ngFor="let member of group.members" class="member" [class.host]="member === group.host">{{ member }}</div>
      </div>
    </div>
  </div>
</div>